@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');

:root{
    --background_color : #f2c94c;
    --border_color: black;
}
body{
    background-color: whitesmoke;
    font-family:'Combo', cursive;
}
.heading{
    align-items: center;
    text-align: center;
    background-color: var(--background_color);
    padding: 2rem;
    box-sizing: border-box;
    display: block;

}
textarea{
    width: 90%;
    height: 15vh;
    display: block;
    margin: 1rem;
    padding: 2rem;
    box-sizing: border-box;
    min-height: 20vh;
    font-size: large;
    font-family: inherit;
    overflow: scroll;
}

#output{
    border: 1px solid var(--border_color);
    height: 10vh;
    width: 80%;
    margin: 1rem;
    padding: 1rem;
    overflow: scroll;
    min-height: 10vh;
    max-height: 20vh;
    display: block;

}
button{
    background-color:var(--background_color);
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-size: large;
    font-family:'Combo', cursive ;
    text-align: center;
}

footer{
    padding: 2rem;
    background-color: var(--background_color);
    text-align: center;
    align-items: center;
}
